.photo {
    width: 300px;
    height: 300px;
    border: 3px solid aliceblue;
    display: block;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}

.name {
    text-transform: capitalize;
}

.info {
    padding: 16px;
    background-color: #ccc;
    flex-basis: 20%;
}

.nickname {
    font-size: 12px;
    color: grey;
}