.moreinfo {
    width: 100%;
    overflow-x: auto;
    display: flex;
    padding: 0.25rem;
    /* flex-wrap: wrap; */
}

.day {
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 2px 0px 14px 0px rgba(0,0,0,0.75);
    padding: 0.5rem;
}

.img {
    margin: 0.25rem auto;
}

.icon_img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.temp_info {
    margin: 0.25rem auto;
    font-size: 2rem;
    font-weight: 800;
}

.time_info {
    margin: 0.25rem auto;
    font-size: 1rem;
    font-weight: 400;
}