@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-v18-latin-300.woff2') format('woff2'),
            url('../fonts/roboto-v18-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
            url('../fonts/roboto-v18-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 320px;
    margin: 0 auto;
}

.holiday {
    background: url('../img/fon.png'), linear-gradient(to right,rgba(77, 77, 77, 0.7) 100%,rgba(77, 77, 77, 0.7) 100%);
    background-repeat: no-repeat;
    padding-bottom: 85px;
}

.navigation, .holiday, .partner {
    width: 100%;
}

.navigation {
    padding-top: 33px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 38px;
}

.check-in {
    margin: o auto;
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.check-in-link {
    font-family: 'Montsserat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 12px 18px 10px 19px;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 25px;
    outline: 0;   
}

.check-in-link:hover {
    border: 2px solid #ffffff;
    border-radius: 25px; 
}

.logo {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montsserat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

/* теперь работаем с секцией холидей */

.holiday-caption {
    text-align: center;
    font-family: 'Montsserat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #ffffff;
}

.holiday-caption-about {
    width: 217px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: auto;
    margin-bottom: 19px;
    color: #ffffff;
}

.find {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0px 12px;
    background-color: #ff4e50;
    border: 0;
    border-radius: 10px;
}

.find-link {
    text-decoration: none;
    font-family: 'Montsserat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

/* роботаем с секцией партнеры */

.partner {
    margin-top: 68px;
    margin-bottom: 50px;
}

.partner-caption {
    width: 258px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Montsserat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
}

.partner-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 220px;
}

.partner-list-item-img {
    display: block;
}

.partner-list-item-img {
    border: 0;
    border-radius: 60px;
    margin-bottom: 20px;
}

.bradley::before {
    position: absolute;
    content: "";
    background-image: url('../img/Shape-tv.png');
    width: 41px;
    height: 41px;
    top: 85px;
    left: 140px;
}

.lucas::before {
    position: absolute;
    content: "";
    background-image: url('../img/Shape-battle.png');
    width: 41px;
    height: 41px;
    top: 85px;
    left: 140px;
}

.heather::before {
    position: absolute;
    content: "";
    background-image: url('../img/Shape-cup.png');
    width: 41px;
    height: 41px;
    top: 85px;
    left: 140px;
}

.hunter::before {
    position: absolute;
    content: "";
    background-image: url('../img/Shape-plane.png');
    width: 41px;
    height: 41px;
    top: 85px;
    left: 140px;
}

.name {
    margin-bottom: 19px;
    font-family: 'Montsserat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.about-name {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center;
}

.find-other {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0px 12px;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    border-radius: 10px;
}

.find-other-link {
    text-decoration: none;
    font-family: 'Montsserat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #ff4e50;
}

@media (min-width: 768px) {
    .main {
        width: 768px;
    }
    .holiday {
        background: url('../img/fon_768.jpg'), linear-gradient(to right,rgba(64, 64, 64, 0.3) 100%,rgba(64, 64, 64, 0.3) 100%);
        background-repeat: no-repeat;
        padding-bottom: 234px;
    }

}

