.App {
    width: 100%;
    padding: 2rem;
    display: flex;
}

.card_place {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(218, 216, 216);
    padding: 1rem;
}

.form_and_btn_place {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.div_four_btn {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}