@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300');

* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    /* Убирает подчеркивание для ссылок */
    text-transform: uppercase;
    /*заглавные буквы*/
    font-family: 'Playfair Display', serif;
    color: #acacac;
    font-size: 14px;
}

.menu {
    list-style: none;
    margin: 77px auto 103px;
    /* width: 573px; */
}

.navigation {
    width: 1200px;
    margin: auto;
}

.menu-item {
    float: left;
}

.lifestyle {
    margin-left: 313px;
}

.photodiary {
    margin-left: 123px;
}

.music {
    margin-left: 103px;
}

.travel {
    margin-left: 95px;
}

img {
    display: block;
}

section {
    width: 900px;
    margin: auto;
}

.container {
    width: 960px;
}

.lifestyle-ssilka {
    color: #03a9f4;
}
main {
    margin: 0 auto;
    width: 1200px;
}

.article {
    width: 420px;
    display: inline-block;
}

.contenr-dream, .content-alps, .content-festival, .content-coffee {
    margin-bottom: 136px;
}

.second {
    margin-left: 56px;
}


span {
    text-transform: uppercase;
    font-family: 'Ubuntu', serif;
    font-size: 11px;
    color: #b4ad9e;
    margin: 31px 0 28px;
}

span {
    display: block;
}

h2 {
    font-family: 'PlayFair', serif;
    font-size: 25px;
    color: #626262;
    margin-bottom: 34px;
}

p {
    font-family: 'PlayFair', serif;
    font-size: 11px;
    color: #626262;
}

/* ФУТЕР */

 footer {
    width: 1200px;
    margin: auto;
}

.submite {
    display: block;
} 

.submit {
    padding: 21px 34px 22px 34px;
    margin: 54px 529px 70px 507px;
    background-color: #ffffff;
    border: 1px solid;
    font-family: 'PlayFair', serif;
    font-size: 17px;
} 


