/*
   Import partials below
*/
@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'variables';
@import 'mixins';

%before {
  content: "";
  width: 186px;
  height: 186px;
  display: block;
  margin: auto;
  margin-bottom: 28px;
}

.header {
  &-navigation{
    width: 970px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;

    &__img{
      padding: 25px 0 0 10px;
    }

    &__link{
      text-decoration: none;
      display: flex;
    }

    &__title{
      font-family: 'Roboto', sans-serif;
      font-size: 42px;
      font-weight: 300;
      align-self: center;
      text-transform: capitalize;
      color: $default-color;
      margin-left: 15px;
    }
  }

  &-menu{
    @include block-options($width:394px);
    list-style: none;
    // align-items: center;
    padding-top: 50px;

      &__item{
        position: relative;
      }

      &__link{
        @include text-style ();
        // text-decoration: none;
        text-decoration: none;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        // font-size: 20px;
        // font-weight: 400;
        color: $default-color;
      }

      &__link::after{
        content: "";
        width: 100%;
        height: 3px;
        background-color:#5094f2;
        display: none;
        position: absolute;
        margin-top: 19px;
      }

      &__link:hover::after{
        display: block;
      }
  }
}
// это скобка всего хедера

.slider {
  background-image: url('../img/fon.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button--left {
    background-image: url('../img/left.png');
  }

  &__button--right {
    background-image: url('../img/right.png');
  }

  &__button {
    width: 25px;
    height: 63px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__img {
    margin: 38px 104px 0 60px;
  }

  &__info {
    margin: 153px 118px 118px 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }

  &__title {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 300;
    width: 250px;
    margin-bottom: 34px;
    line-height: 1.5;
  }

  &__sign-link {
    text-decoration: none;
    padding: 11px 11px 8px 45px;
    background-color: #5094f2;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    margin-left: 12px;
    position: relative;
  }

  &__sign-link::before {
    content: "";
    width: 23px;
    height: 23px;
    background-image: url('../img/sign.png');
    position: absolute;
    top: center;
    left: 10px;
  }
}
// это скобка слайдера секции

.features{
  &__list {
    width: 970px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 73px auto 91px;

    &-item{
      width: 250px;
      text-align: center;
      /* padding-top: 214px; */
      font-family: 'Roboto', sans-serif;
    }
  }

  &__item-title{
    font-size: 20px;
    font-weight: 300;
    color: #73a9f5;
  }

  &__item-subtitle{
    font-size: 14px;
    font-weight: 300;
    color: rgba(144, 144, 144, 255);
  }

  &__list-item--pen::before {
    @extend %before;
    background-image: url('../img/pen.png');
  }

  &__list-item--tv::before {
    @extend %before;
    background-image: url('../img/tv.png');
  }

  &__list-item--basket::before {
    @extend %before;
    background-image: url('../img/basket.png');
  }

}
// скобка фичерс

.shop {
  margin: 0 auto;
  width: 908px;

    &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: rgba(111, 113, 115, 255);
    margin: 0 0 13px 9px;
  }

    &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

    &__img {
    margin-top: 20px;
  }

    &__text-wrapper {
    width: 453px;
  }

    &__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: rgba(111, 113, 115, 255);
    margin-bottom: 34px;
  }

    &__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: rgba(144, 144, 144, 255);
    line-height: 2;
  }
}

.footer {
  text-align: center;
  margin-bottom: 44px;
  padding-top: 24px;
  border-top: 1px solid rgba(144, 144, 144, 255);

  &__copy {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: rgba(144, 144, 144, 255);
  }
}
