.count {
    font-weight: 700;
    font-size: 60px;
    font-family: serif;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    flex-basis: 30%;
    display: block;
    background-color: yellowgreen;
    color: beige;
    font-size: 25px;
    font-weight: 700;
    border: none;
}