.btn {
  display: block;
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: yellowgreen;
  border: none;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.btn:hover {
  background-color: dodgerblue;
}