/* Стилизация карточек товаров */
* {box-sizing: border-box;}
.product-item {
width: 300px;
text-align: center;
border-bottom: 2px solid #F5F5F5;
background: white;
font-family: "Open Sans";
}

.product-item:hover {border: 2px solid #fc5a5a;}
.product-item img {
display: block;
width: 100%;
}

.product-list {
background: #fafafa;
padding: 15px 0;
}

.product-list h3 {
font-size: 18px;
font-weight: 400;
color: #444444;
margin: 0 0 10px 0;
}

.price {
font-size: 16px;
color: #fc5a5a;
display: block;
margin-bottom: 12px;
}