// это бирюзовый в разных секциях:
$default-color-turquoise: #95e1d3;

// это цвет афтера у секций:
$color-after: #f38181;

// желтый цвет ховера у меню в наве и цвет по умолчанию иконок соцсетей:
$color-hover-menu: #fce38a;

// цвет соц иконок при ховере и по умолчанию для филл их же:
$color-social-icons: #f38181;

// белый цвет всех белых элементов:
$color-white: #ffffff;

// черный цвет заголовков:
$color-black: #333333;

// значение линейного градиента у хедера и всплывающего окна:
// $linear-gradient: linear-gradient(top, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
$linear-gradient: linear-gradient( 360deg, rgba(252,227,138, .8), rgba(243,129,129, .8));
