
.tagline {
    background: linear-gradient(to right, #17b2c5 0%, #078aa4 100%);
    padding: 60px 30px;
}

.tagline-title {
    font-size: 32px;
    font-weight: 700px;
    color: #fff;
    margin-bottom: 3%;
}

.tagline-subtitle {
    font-size: 16px;
    color: #fff;
}

.subtagline {
    display: flex;
    background-color: #27212c;
    align-items: center;
}

.subtagline-title {
    display: flex;
    background-color: #27212c;
}

.subtagline-title {
    padding: 20px 10px;
    font-size: 10px;
    color: #5b0fa1;
    padding: 37px;
}

.subtagline-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    padding: 20px 32px;
    background-color: #bc3183;   
}

.portfolio-item {
    display: flex;
}

.portfolio-item img {
    display: block;
    max-width: 100%;
}

.about {
    background-color: #ebebeb;
    padding: 40px;
}

.about-title {
    color: #088ca5;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
}

.about-text {
    color: #7b7b7b;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-text:nth-child(3), .about-text:nth-child(4) {
    display: none;
}

@media (min-width: 640px) {
    .main {
        width: 640px;
    }
    .tagline {
        padding: 120px 60px;
    }
    .tagline-title {
        font-size: 44px;
    }
    
    .tagline-subtitle {
        font-size: 22px;
    }
    .subtagline-title {
        font-size: 20px;
        padding: 37px;
        /* width: 500px; */
    }
    .subtagline-button {
        font-size: 50px;
        padding: 50px 62px;
        /* width: 140px; */
    }
    .about-title {
        font-size: 24px;
        margin-bottom: 26px;
    }
    .about-text {
        font-size: 20px;
    }
}


@media (min-width: 980px) {
    .main {
        width: 980px;
    }
    .tagline {
        padding: 150px 80px;
    }
    .tagline-title {
        font-size: 52px;
    }
    .tagline-subtitle {
        font-size: 24px;
    }
    .subtagline-title {
        font-size: 24px;
        padding: 50px;
    }
    .subtagline {
        display: flex;
        justify-content: space-between;
        width: 980px;
    }
    .subtagline-title {
        padding: 66px;
        font-size: 24px;
    }
    .subtagline-buttom {
        padding: 95px 100px 105px 95px;
        font-size: 55px;
    }
    .portfolio {
        display: flex;
    }




}


