* {
    margin: 0;
    padding: 0;
}

/* верстаем сначала телефонный вариант */

.header, .main {
    width: 320px;
    /* padding: 0 1rem; */
    margin: 0 auto;
}

/* 1 rem - отталкиваемся от краев телефона  */

.header-nav {
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.header-button {
    padding: 0;
    border: 0;
    display: block;
    width: 41px;
    height: 37px;
    background-image: url('../img/crop@1X.png');
}

.header-menu-wr {
    position: relative;
}

.header-menu {
    position: absolute;
    display: none;
    top: 37px;
    right: 0;
    list-style: none;
    background-color: #373c3f;
    color: #fff;
    text-transform: uppercase;
    width: 160px;
}

.header-menu-item, .header-title {
    color: #fff;
    padding: 5px;
}

.header-menu-wr:hover .header-menu {
    display: block;
}

.tagline {
    background: linear-gradient(to right, #17b2c5 0%, #078aa4 100%);
    padding: 60px 30px;
}

.tagline-title {
    font-size: 32px;
    font-weight: 700px;
    color: #fff;
}

.tagline-subtitle {
    font-size: 16px;
    color: #fff;
}

.subtagline {
    display: flex;
    color: #fff;
}

.subtagline-title {
    display: flex;
    background-color: #27212c;
}

.subtagline-title {
    padding: 20px 10px;
    width: 250px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5b0fa1;
}

.subtagline-buttom {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    background-color: #bc3183;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio-item img {
    display: block;
    max-width: 100%;
    height: 277px;
}

.about {
    background-color: #ebebeb;
    padding: 20px;
}

.about-title {
    color: #088ca5;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text {
    color: #7b7b7b;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-text:nth-child(3), .about-text:nth-child(4) {
    display: none;
}