.divtoday {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    border-radius: 10px;
}

.div_date_and_temp {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white;
    border-radius: 10px; */
    margin: 1rem;
}

.div_weather {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_icon_plus_humidity {
    width: 30%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p_date_plus_time {
    padding: 1rem;
    max-width: 200px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    opacity: 1;
    background-color: rgb(189, 192, 189);
    border-radius: 5px;
}

.p_humidity {
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.weather_img {
    width: 150px;
    height: 150px;
    opacity: 1;
}

.div_min_max {
    display: flex;
}

.p_temp_now {
    font-size: 60px;
    color: black;
    font-weight: bold;
    margin: 0 auto;
}

.sign {
    font-size: 16px;
    color: black;
    font-weight: 400;
    text-align: center;
}

.small_temp {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin: 0.25rem;
    text-align: center;
}

.icon_weather {
    display: block;
    margin: 0 auto;
    
}

.quote_text {
    font-size: 15px;
    color: black;
    font-weight: 500;
    margin: 0.25rem;
    font-style: italic;
}

.quote_author {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.p_about_temp {
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.weather_plus_temp_icon {
    display: flex;
    align-items: center;
}

.thermometer_icon {
    width: 8rem;
    height: 8rem;
}


/* БЛОК ДАТА В КАЛЕНДАРЕ */
.calendar {
    width: 12rem;
    height: 12rem;
}
.date_in_calendar {
    position: relative;
}
.div_temp_plus_date {
    position: absolute;
    top: 3.125rem;
    left: 2.5rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.p_day_now {
    font-size: 30px;
    color: black;
    font-weight: bold;
    opacity: 1;
}
.p_date {
    font-size: 16px;
    color:black;
    font-weight: bold;
    opacity: 1;
}
.time{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.div_sun_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.img_sun {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

