.Header {
    padding: 200px 0;
    background-image: url('https://focus.ua/modules/thumb.php?u=../files/SABi/2017/025/2615387.jpg&m=c_large_wide');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}