.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 6rem;
}

.form {
    align-self: center;
}

.input  {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    /* border-radius: 10px; */
    padding: 1rem;
    font-size: 25px;
    font-family:Tahoma, sans-serif;
    font-weight: 500;
    color:white;  
}

.input:hover, .input:focus {
    outline: none;
}

.location_img{
    display: block;
    opacity: 0.9;
}

.star {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 1rem;
}

.star:hover {
    cursor: pointer;
}

.btn_fvr_city {
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 20px;
    font-family:Tahoma, sans-serif;
    font-weight: 500;
    color:white;  
} 

.btn_fvr_city:hover {
    background-color: #a2a4f0;
    cursor: pointer;
}

.geolocation{ 
    text-align: center;
}

.city_name{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
}

/* Стилизация контейнера с инпутом */
.divInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hover_shape{
    align-self: center;
}

.div_btnFavor_plus_favorList{
    position: relative;
}

@media (min-width: 768px) {
    .header {
        width: 768px;
    }
}

@media (min-width: 1024px) {
    .header {
        width: 1024px;
    }
}