.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    border: 1px solid black;
    padding: 20px;
    background-color: #dbe0db;
}

.place_btn {
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
    border: 1px solid black;
    background-color: floralwhite;
}